## Preparing the data

### 1. without_ctext

In [1]:
import pandas as pd
import numpy as np

### train data

In [16]:
df = pd.read_csv('news_summary.csv')
df.head()

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",'Virgin' now corrected to 'Unmarried' in IGIMS...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Sumedha Sehra,"03 Aug 2017,Thursday",Aaj aapne pakad liya: LeT man Dujana before be...,http://indiatoday.intoday.in/story/abu-dujana-...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Aarushi Maheshwari,"03 Aug 2017,Thursday",Hotel staff to get training to spot signs of s...,http://indiatoday.intoday.in/story/sex-traffic...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [17]:
df.drop(['author', 'date', 'read_more', 'ctext'], axis = 1, inplace = True)
df.head()

,headlines,text
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...

In [18]:
df.shape

(4514, 2)

In [5]:
df_train = df.head(3000)
df_train

,headlines,text
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...
...,...,...
2995,"Over 1,500 Delhi children reported missing til...","According to police figures, over 1,500 childr..."
2996,Not responsible for women's safety after work:...,"Bengaluru firm IDC Technologies, located in Ma..."
2997,Indo-American Founder of health startup become...,"Rishi Shah, the Indian-American Founder of hea..."
2998,"Man ate metal, blades during yoga, thought he'...",A 52-year-old man from Delhi ate two metal pla...
2999,"After fuel, govt planning daily CNG price revi...",The government is reportedly contemplating dai...

In [13]:
df_train.to_csv('df_train.csv')

### eval data

In [19]:
df_eval = df.iloc[3000 : 3801, :]
df_eval

,headlines,text
3000,India?s Red fort shown as Pakistan?s Shalimar ...,The Red Fort with the Indian tricolour was sho...
3001,Defence Ministry scraps ?6500 crore Navy chopp...,"The Defence Ministry has scrapped a ?6,500-cro..."
3002,"St Stephen's bar highest for Eng, Eco at 98.5%...",Delhi University's St Stephen's on Thursday re...
3003,Man who lost 150 elections files nomination f...,A man from Tamil Nadu who features in the Limc...
3004,Man throws his pet puppy from balcony for drop...,A Gurugram man flung his 4-month-old puppy fro...
...,...,...
3796,Only employer to decide if staff's work is sat...,"An employer has the sole right, not a court, t..."
3797,Goa govt plans to ban entry of locals into cas...,Goa CM Manohar Parrikar has said his governmen...
3798,New tech uses glowing bacteria to safely detec...,Israeli researchers have successfully tested a...
3799,Will set up Commission for SC/STs after MCD po...,Delhi CM Arvind Kejriwal on Friday announced h...
3800,India must aspire to become global power of ha...,President Pranab Mukherjee on Friday said Indi...

In [20]:
df_eval.to_csv('without_ctext/df_eval.csv')

### test data

In [21]:
df_test = df.tail(713)
df_test

,headlines,text
3801,?40 cr in old notes seized from ex-B'luru corp...,Bengaluru Police on Friday recovered old demon...
3802,Govt asks restaurants to stop imposing service...,Union Minister Ram Vilas Paswan said that the ...
3803,Women share pictures of 'feather eyebrows' on ...,Several women are taking to Instagram to post ...
3804,BHIM-Aadhaar app to allow payment using finger...,Prime Minister Narendra Modi on Friday launche...
3805,Sushant's trainer shares pic of his physical t...,Actor Sushant Singh Rajput's fitness trainer S...
...,...,...
4509,Rasna seeking ?250 cr revenue from snack categ...,Fruit juice concentrate maker Rasna is eyeing ...
4510,Sachin attends Rajya Sabha after questions on ...,Former Indian cricketer Sachin Tendulkar atten...
4511,Shouldn't rob their childhood: Aamir on kids r...,"Aamir Khan, while talking about reality shows ..."
4512,"Asha Bhosle gets ?53,000 power bill for unused...",The Maharashtra government has initiated an in...
4513,More than half of India's languages may die in...,At least 400 languages or more than half langu...

In [24]:
df_test.to_csv('without_ctext/df_test.csv')

### 2. with ctext

In [25]:
df = pd.read_csv('news_summary.csv')
df.head()

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",'Virgin' now corrected to 'Unmarried' in IGIMS...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Sumedha Sehra,"03 Aug 2017,Thursday",Aaj aapne pakad liya: LeT man Dujana before be...,http://indiatoday.intoday.in/story/abu-dujana-...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Aarushi Maheshwari,"03 Aug 2017,Thursday",Hotel staff to get training to spot signs of s...,http://indiatoday.intoday.in/story/sex-traffic...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [27]:
df.drop(['author', 'date', 'read_more', 'text'], axis = 1, inplace = True)
df

,headlines,ctext
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Daman and Diu administration on Wednesday ...
1,Malaika slams user who trolled her for 'divorc...,"From her special numbers to TV?appearances, Bo..."
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Mumbai and other Indian cities are t...
...,...,...
4509,Rasna seeking ?250 cr revenue from snack categ...,"Mumbai, Feb 23 (PTI) Fruit juice concentrate m..."
4510,Sachin attends Rajya Sabha after questions on ...,Former cricketer Sachin Tendulkar was spotted ...
4511,Shouldn't rob their childhood: Aamir on kids r...,"Aamir Khan, whose last film Dangal told the st..."
4512,"Asha Bhosle gets ?53,000 power bill for unused...",Maharahstra Power Minister Chandrashekhar Bawa...
4513,More than half of India's languages may die in...,More than half of the languages spoken by Indi...

### train, eval and test data

In [28]:
df_train = df.head(3000)
df_train

,headlines,ctext
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Daman and Diu administration on Wednesday ...
1,Malaika slams user who trolled her for 'divorc...,"From her special numbers to TV?appearances, Bo..."
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Mumbai and other Indian cities are t...
...,...,...
2995,"Over 1,500 Delhi children reported missing til...","New Delhi, the capital has lived up to its fea..."
2996,Not responsible for women's safety after work:...,"The murder of Prathibha, a BPO employee way ba..."
2997,Indo-American Founder of health startup become...,"Indian-American Rishi Shah, who quit college 1..."
2998,"Man ate metal, blades during yoga, thought he'...",The Shailendra Singh diet is not for everyone....
2999,"After fuel, govt planning daily CNG price revi...",The government is planning to roll out daily p...

In [30]:
df_eval = df.iloc[3000 : 3801, : ]
df_eval

,headlines,ctext
3000,India?s Red fort shown as Pakistan?s Shalimar ...,A reception held by the SCO at its Beijing hea...
3001,Defence Ministry scraps ?6500 crore Navy chopp...,"The Defence Ministry has scrapped a Rs 6,500 c..."
3002,"St Stephen's bar highest for Eng, Eco at 98.5%...",Ending the day long nail-biting delay for Delh...
3003,Man who lost 150 elections files nomination f...,Six candidates filed their papers for the pres...
3004,Man throws his pet puppy from balcony for drop...,A man tossed his pet puppy off his first-floor...
...,...,...
3796,Only employer to decide if staff's work is sat...,"New Delhi, Apr 13 (PTI) An employer, not a cou..."
3797,Goa govt plans to ban entry of locals into cas...,NaN
3798,New tech uses glowing bacteria to safely detec...,A team of researchers at an Israeli university...
3799,Will set up Commission for SC/STs after MCD po...,"As India celebrated Ambedkar Jayanti, Delhi ch..."
3800,India must aspire to become global power of ha...,"By Laxmi Devi Bengaluru, Apr 14 (PTI) Presiden..."

In [33]:
df_test = df.tail(713)
df_test

,headlines,ctext
3801,?40 cr in old notes seized from ex-B'luru corp...,Bengaluru Police today recovered a large stash...
3802,Govt asks restaurants to stop imposing service...,Restaurants can't ask their customers to pay s...
3803,Women share pictures of 'feather eyebrows' on ...,Let's not even get started on how strange cert...
3804,BHIM-Aadhaar app to allow payment using finger...,Prime Minister Narendra Modi on Friday launche...
3805,Sushant's trainer shares pic of his physical t...,If you happened to stumble upon Sushant Singh ...
...,...,...
4509,Rasna seeking ?250 cr revenue from snack categ...,"Mumbai, Feb 23 (PTI) Fruit juice concentrate m..."
4510,Sachin attends Rajya Sabha after questions on ...,Former cricketer Sachin Tendulkar was spotted ...
4511,Shouldn't rob their childhood: Aamir on kids r...,"Aamir Khan, whose last film Dangal told the st..."
4512,"Asha Bhosle gets ?53,000 power bill for unused...",Maharahstra Power Minister Chandrashekhar Bawa...
4513,More than half of India's languages may die in...,More than half of the languages spoken by Indi...

In [34]:
df_train.to_csv('with_ctext/df_train.csv')
df_eval.to_csv('with_ctext/df_eval.csv')
df_test.to_csv('with_ctext/df_test.csv')

### 3. with ctext and text

In [35]:
df = pd.read_csv('news_summary.csv')
df.head()

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",'Virgin' now corrected to 'Unmarried' in IGIMS...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Sumedha Sehra,"03 Aug 2017,Thursday",Aaj aapne pakad liya: LeT man Dujana before be...,http://indiatoday.intoday.in/story/abu-dujana-...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Aarushi Maheshwari,"03 Aug 2017,Thursday",Hotel staff to get training to spot signs of s...,http://indiatoday.intoday.in/story/sex-traffic...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [36]:
df.drop(['author', 'date', 'read_more', 'headlines'], axis = 1, inplace = True)
df.head()

,text,ctext
0,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

### train, eval and test data

In [37]:
df_train = df.head(3000)
df_train

,text,ctext
0,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...
...,...,...
2995,"According to police figures, over 1,500 childr...","New Delhi, the capital has lived up to its fea..."
2996,"Bengaluru firm IDC Technologies, located in Ma...","The murder of Prathibha, a BPO employee way ba..."
2997,"Rishi Shah, the Indian-American Founder of hea...","Indian-American Rishi Shah, who quit college 1..."
2998,A 52-year-old man from Delhi ate two metal pla...,The Shailendra Singh diet is not for everyone....
2999,The government is reportedly contemplating dai...,The government is planning to roll out daily p...

In [39]:
df_eval = df.iloc[3000 : 3801, :]
df_eval

,text,ctext
3000,The Red Fort with the Indian tricolour was sho...,A reception held by the SCO at its Beijing hea...
3001,"The Defence Ministry has scrapped a ?6,500-cro...","The Defence Ministry has scrapped a Rs 6,500 c..."
3002,Delhi University's St Stephen's on Thursday re...,Ending the day long nail-biting delay for Delh...
3003,A man from Tamil Nadu who features in the Limc...,Six candidates filed their papers for the pres...
3004,A Gurugram man flung his 4-month-old puppy fro...,A man tossed his pet puppy off his first-floor...
...,...,...
3796,"An employer has the sole right, not a court, t...","New Delhi, Apr 13 (PTI) An employer, not a cou..."
3797,Goa CM Manohar Parrikar has said his governmen...,NaN
3798,Israeli researchers have successfully tested a...,A team of researchers at an Israeli university...
3799,Delhi CM Arvind Kejriwal on Friday announced h...,"As India celebrated Ambedkar Jayanti, Delhi ch..."
3800,President Pranab Mukherjee on Friday said Indi...,"By Laxmi Devi Bengaluru, Apr 14 (PTI) Presiden..."

In [40]:
df_test = df.tail(713)
df_test

,text,ctext
3801,Bengaluru Police on Friday recovered old demon...,Bengaluru Police today recovered a large stash...
3802,Union Minister Ram Vilas Paswan said that the ...,Restaurants can't ask their customers to pay s...
3803,Several women are taking to Instagram to post ...,Let's not even get started on how strange cert...
3804,Prime Minister Narendra Modi on Friday launche...,Prime Minister Narendra Modi on Friday launche...
3805,Actor Sushant Singh Rajput's fitness trainer S...,If you happened to stumble upon Sushant Singh ...
...,...,...
4509,Fruit juice concentrate maker Rasna is eyeing ...,"Mumbai, Feb 23 (PTI) Fruit juice concentrate m..."
4510,Former Indian cricketer Sachin Tendulkar atten...,Former cricketer Sachin Tendulkar was spotted ...
4511,"Aamir Khan, while talking about reality shows ...","Aamir Khan, whose last film Dangal told the st..."
4512,The Maharashtra government has initiated an in...,Maharahstra Power Minister Chandrashekhar Bawa...
4513,At least 400 languages or more than half langu...,More than half of the languages spoken by Indi...

In [41]:
df_train.to_csv('with_ctext_and_text/df_train.csv')
df_eval.to_csv('with_ctext_and_text/df_eval.csv')
df_test.to_csv('with_ctext_and_text/df_test.csv')

### 4. with all three

In [42]:
df = pd.read_csv('news_summary.csv')
df.head()

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",'Virgin' now corrected to 'Unmarried' in IGIMS...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Sumedha Sehra,"03 Aug 2017,Thursday",Aaj aapne pakad liya: LeT man Dujana before be...,http://indiatoday.intoday.in/story/abu-dujana-...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Aarushi Maheshwari,"03 Aug 2017,Thursday",Hotel staff to get training to spot signs of s...,http://indiatoday.intoday.in/story/sex-traffic...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [43]:
df.drop(['author', 'date', 'read_more'], axis = 1, inplace = True)
df.head()

,headlines,text,ctext
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

### train, eval and test data

In [44]:
df_train = df.head(3000)
df_train

,headlines,text,ctext
0,Daman & Diu revokes mandatory Rakshabandhan in...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Malaika slams user who trolled her for 'divorc...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,'Virgin' now corrected to 'Unmarried' in IGIMS...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Aaj aapne pakad liya: LeT man Dujana before be...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotel staff to get training to spot signs of s...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...
...,...,...,...
2995,"Over 1,500 Delhi children reported missing til...","According to police figures, over 1,500 childr...","New Delhi, the capital has lived up to its fea..."
2996,Not responsible for women's safety after work:...,"Bengaluru firm IDC Technologies, located in Ma...","The murder of Prathibha, a BPO employee way ba..."
2997,Indo-American Founder of health startup become...,"Rishi Shah, the Indian-American Founder of hea...","Indian-American Rishi Shah, who quit college 1..."
2998,"Man ate metal, blades during yoga, thought he'...",A 52-year-old man from Delhi ate two metal pla...,The Shailendra Singh diet is not for everyone....
2999,"After fuel, govt planning daily CNG price revi...",The government is reportedly contemplating dai...,The government is planning to roll out daily p...

In [45]:
df_eval = df.iloc[3000 : 3801, :]
df_eval

,headlines,text,ctext
3000,India?s Red fort shown as Pakistan?s Shalimar ...,The Red Fort with the Indian tricolour was sho...,A reception held by the SCO at its Beijing hea...
3001,Defence Ministry scraps ?6500 crore Navy chopp...,"The Defence Ministry has scrapped a ?6,500-cro...","The Defence Ministry has scrapped a Rs 6,500 c..."
3002,"St Stephen's bar highest for Eng, Eco at 98.5%...",Delhi University's St Stephen's on Thursday re...,Ending the day long nail-biting delay for Delh...
3003,Man who lost 150 elections files nomination f...,A man from Tamil Nadu who features in the Limc...,Six candidates filed their papers for the pres...
3004,Man throws his pet puppy from balcony for drop...,A Gurugram man flung his 4-month-old puppy fro...,A man tossed his pet puppy off his first-floor...
...,...,...,...
3796,Only employer to decide if staff's work is sat...,"An employer has the sole right, not a court, t...","New Delhi, Apr 13 (PTI) An employer, not a cou..."
3797,Goa govt plans to ban entry of locals into cas...,Goa CM Manohar Parrikar has said his governmen...,NaN
3798,New tech uses glowing bacteria to safely detec...,Israeli researchers have successfully tested a...,A team of researchers at an Israeli university...
3799,Will set up Commission for SC/STs after MCD po...,Delhi CM Arvind Kejriwal on Friday announced h...,"As India celebrated Ambedkar Jayanti, Delhi ch..."
3800,India must aspire to become global power of ha...,President Pranab Mukherjee on Friday said Indi...,"By Laxmi Devi Bengaluru, Apr 14 (PTI) Presiden..."

In [46]:
df_test = df.tail(713)
df_test

,headlines,text,ctext
3801,?40 cr in old notes seized from ex-B'luru corp...,Bengaluru Police on Friday recovered old demon...,Bengaluru Police today recovered a large stash...
3802,Govt asks restaurants to stop imposing service...,Union Minister Ram Vilas Paswan said that the ...,Restaurants can't ask their customers to pay s...
3803,Women share pictures of 'feather eyebrows' on ...,Several women are taking to Instagram to post ...,Let's not even get started on how strange cert...
3804,BHIM-Aadhaar app to allow payment using finger...,Prime Minister Narendra Modi on Friday launche...,Prime Minister Narendra Modi on Friday launche...
3805,Sushant's trainer shares pic of his physical t...,Actor Sushant Singh Rajput's fitness trainer S...,If you happened to stumble upon Sushant Singh ...
...,...,...,...
4509,Rasna seeking ?250 cr revenue from snack categ...,Fruit juice concentrate maker Rasna is eyeing ...,"Mumbai, Feb 23 (PTI) Fruit juice concentrate m..."
4510,Sachin attends Rajya Sabha after questions on ...,Former Indian cricketer Sachin Tendulkar atten...,Former cricketer Sachin Tendulkar was spotted ...
4511,Shouldn't rob their childhood: Aamir on kids r...,"Aamir Khan, while talking about reality shows ...","Aamir Khan, whose last film Dangal told the st..."
4512,"Asha Bhosle gets ?53,000 power bill for unused...",The Maharashtra government has initiated an in...,Maharahstra Power Minister Chandrashekhar Bawa...
4513,More than half of India's languages may die in...,At least 400 languages or more than half langu...,More than half of the languages spoken by Indi...

In [47]:
df_train.to_csv('with_all_three/df_train.csv')
df_eval.to_csv('with_all_three/df_eval.csv')
df_test.to_csv('with_all_three/df_test.csv')

### other

In [48]:
df = pd.read_csv('news_summary_more.csv')
df.head()

,headlines,text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's..."
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...
2,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...
3,Aegon life iTerm insurance plan helps customer...,"With Aegon Life iTerm Insurance plan, customer..."
4,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...

In [49]:
df.shape

(98401, 2)

In [50]:
for i in range(0, 10) : 
    print(f"{len(df['headlines'][i])} :: {len(df['text'][i])}")

65 :: 375
60 :: 347
64 :: 360
56 :: 343
67 :: 370
65 :: 377
63 :: 339
64 :: 342
59 :: 310
63 :: 353

### train, eval and test data

In [51]:
df_train = df.head(70000)
df_train

,headlines,text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's..."
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...
2,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...
3,Aegon life iTerm insurance plan helps customer...,"With Aegon Life iTerm Insurance plan, customer..."
4,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...
...,...,...
69995,Google Maps unofficially renames Bandra locali...,A locality in Mumbai's Bandra has been unoffic...
69996,US citizen fighting for ISIS surrenders in Syria,A US citizen fighting for ISIS in Syria has su...
69997,Knife-wielding man attacks soldier in Paris,A knife-wielding man attacked a soldier patrol...
69998,Saudi Arabia arrests 10 clerics in crackdown o...,Saudi Crown Prince Mohammed bin Salman's crack...
69999,Bhopal Administration seals JD(U) office in th...,The District Administration sealed the Janata ...

In [52]:
df_eval = df.iloc[70000 : 90000,  : ]
df_eval

,headlines,text
70000,Doctors in Delhi must pass test to perform ult...,The Delhi government will reportedly conduct t...
70001,Why did NASA crash its $3.9-billion spacecraft...,NASA on Friday crashed its $3.9-billion Cassin...
70002,Telangana priests to get salaries on par with ...,Telangana Chief Minister K Chandrasekhar Rao o...
70003,Govt to celebrate PM Modi's birthday as 'Sewa ...,The BJP-led central government will celebrate ...
70004,India will be open defecation free by Oct 2019...,Launching the âSwachhta Hi Sewaâ (Cleanlin...
...,...,...
89995,CBI unearths 339 fake companies used to divert...,The Central Bureau of Investigation (CBI) has ...
89996,Internet chats between Kashmir youth and Syria...,Security agencies have noted that internet cha...
89997,Girl asked to remove innerwear in Kerala befor...,A female candidate who appeared at a National ...
89998,Nigeria exchanges Boko Haram suspects for 82 C...,Nigeria on Saturday said it had negotiated the...
89999,Trump launches 1st official campaign video for...,US President Donald Trump has launched his fir...

In [53]:
df_test = df.tail(8400)
df_test

,headlines,text
90001,Pictures show Kangana Ranaut's house in Mumbai,Pictures of actress Kangana Ranaut's house in ...
90002,Differently-abled need easy access to public p...,Hrithik Roshan has said that there's the need ...
90003,Ajay Devgn to play Aizawl FC coach Jamil in fi...,"As per reports, a Bollywood film on football c..."
90004,Amla third player to score at least 2 tons in ...,Kings XI Punjab's Hashim Amla became the third...
90005,Deeply saddened by new controversy around Kejr...,Social activist Anna Hazare on Sunday said he ...
...,...,...
98396,CRPF jawan axed to death by Maoists in Chhatti...,A CRPF jawan was on Tuesday axed to death with...
98397,First song from Sonakshi Sinha's 'Noor' titled...,"'Uff Yeh', the first song from the Sonakshi Si..."
98398,'The Matrix' film to get a reboot: Reports,"According to reports, a new version of the 199..."
98399,Snoop Dogg aims gun at clown dressed as Trump ...,A new music video shows rapper Snoop Dogg aimi...
98400,Madhesi Morcha withdraws support to Nepalese g...,"Madhesi Morcha, an alliance of seven political..."

In [55]:
df_train.to_csv('other/df_train.csv')
df_eval.to_csv('other/df_eval.csv')
df_test.to_csv('other/df_test.csv')